body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  cursor: none;
}

img {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 5;
  pointer-events: none;
}

p{
  user-select: none;
}

iframe {
  user-select: none;
}